<html lang="en">

    <head>
        {{> head}}  
    </head>

    <body>
        <div class="wrapper">
            {{> navbar}}
            <div class="content">
                <div class="content-header">
                    Bin Sorgulama V4
                </div>
                <div class="form-area">
                    <label>Bin Numarası (*):</label>
                    <input
                        name="binNumber"
                        type="text"
                        class="form-control"
                        value="466280"
                        required
                    />
                    <label>Tutar (**):</label>
                    <input
                        name="amount"
                        type="text"
                        class="form-control"
                        value="1000"
                        required
                    />
                    <label>3D / Non-Secure (*):</label>
                    <select name="threeD" class="form-control">
                        <option value="true">3D</option>
                        <option value="false">Non-Secure</option>
                    </select>
                    <button
                        class="btn success"
                        type="submit"
                        id="pay"
                    >Sorgula</button>
                    <p>** Sipariş tutarı kuruş ayracı olmadan gönderilmelidir. Örneğin; 1 TL 100, 12 1200, 130 13000, 1.05 105, 1.2 120 olarak gönderilmelidir.</p>
                </div>
                <pre id="result">

                </pre>
            </div>
        </div>
        <script src="/js/bin-inquiry-v4.js"></script>
        <script src="/js/template.js"></script>
    </body>

</html>